<footer class="page-footer" style="background-color: rgba(0, 0, 0, 0.7); position: relative;">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">CON TU ORDENADOR, TABLET O MÓVIL</h5>
        <p class="grey-text text-lighten-4">
          Desde tu casa, trabajo... Tan solo es necesario un ordenador, tablet o
          móvil para conectarse a internet y entrar en nuestra subasta virtual
          para comprar ganado bovino de alta calidad.
        </p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Menú</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="#!">Inicio</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Galería de razas</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Publicidad</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Subasta</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Publicar evento</a></li>
        </ul>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Social</h5>
        <ul>
          <div class="row">
            <div class="cols1">
              <a
                class="waves-effect waves-light pulse social-icon btn google"
                style="background-color: #e53935"
              >
                <i class="fa fa-google"></i
              ></a>
            </div>
            <div class="col s6">
              <li><a class="grey-text text-lighten-3">Gmail</a></li>
            </div>
          </div>
          <div class="row">
            <a
              class="waves-effect waves-light social-icon btn pulse twitter"
              style="background-color: #64b5f6;"
            >
              <i class="fa fa-twitter"></i
            ></a>

            <div class="col s6">
              <li><a class="grey-text text-lighten-3">Twiter</a></li>
            </div>
          </div>
          <div class="row">
            <a
              class="waves-effect waves-light social-icon btn pulse facebook"
              style="background-color: #0d47a1;"
            >
              <i class="fa fa-facebook"></i
            ></a>

            <div class="col s6">
              <li><a class="grey-text text-lighten-3">Facebook</a></li>
              <div class="row"></div>
            </div>
          </div>
          <div class="row">
            <a
              class="waves-effect waves-light social-icon btn pulse instagram"
              style="background-color: #2196f3;"
            >
              <i class="fa fa-instagram"></i
            ></a>

            <div class="col s6">
              <li><a class="grey-text text-lighten-3">instagram</a></li>
            </div>
          </div>
        </ul>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col s12"></div>

      <div class="col s12">
        <h5 class="white-text">Contactanos</h5>
        <ul>
          <div class="row">
            <i class="material-icons">phone_android</i>
            <div class="col s6">
              <a>(+505)55678908 - 43567894</a>
            </div>
          </div>
          <div class="row">
            <i class="material-icons">markunread</i>
            <div class="col s6">
              <a>suganic@info.com</a>
            </div>
          </div>

          <div class="row">
            <i class="material-icons">location_on</i>
            <div class="col s6">
              <a>Casa pellas 1C Norte, 1 1/2 Este</a>
            </div>
          </div>
        </ul>
      </div>
      <div class="col s12"></div>
    </div>
  </div>

  <div class="footer-copyright">
    <div class="container" style="font-weight: bold; font-family: sans-serif;">
      © 2019 Copyright - Todos los Derechos Reservados -
      <a class="grey-text text-lighten-4 right" href="#!"></a>
    </div>
  </div>
</footer>
