<footer class="page-footer" style="background-color: rgba(0,0,0, 0.7);">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Footer Content</h5>
          <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
        </div>
        <div class="col l4 offset-l2 s12">
          <h5 class="white-text">Menu</h5>
          <ul>
            <li><a class="grey-text text-lighten-3" href="#!">inicio</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Compañia</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Galeria</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Productos</a></li>
          </ul>
        </div>
        <div class="col l4 offset-l2 s12">
            <h5 class="white-text">social</h5>
            <ul>
              <li><a class="grey-text text-lighten-3" href="#!">Facebook</a></li>
              <li><a class="grey-text text-lighten-3" href="#!">Gmail</a></li>
              <li><a class="grey-text text-lighten-3" href="#!">Twiter</a></li>
              <li><a class="grey-text text-lighten-3" href="#!">instegram</a></li>
            </ul>
          </div>
      </div>
    </div>
<div class="row">
    <div class="col s12">
      </div>
    
  <div class="col s12">
      <h5 class="white-text">Contactanos</h5>
      <ul>
          <div class=""><p>(+505)55678908 - 43567894</p></div>
          <div class=""><p>suganic@info.com</p></div>
          <div class=""><p>Casa pellas 1C Norte, 1 1/2 Este</p></div>
      </ul>
  </div>
  <div class="col s12">
  </div>
 
</div>

    <div class="footer-copyright">
      <div class="container">
      © 2019 Suganic
      <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
      </div>
    </div>
  </footer>
      
