<!-- <br>
<div
  class="page-header header-filter"
  data-parallax="true"
  style="background-image: url('https://www.10wallpaper.com/wallpaper/1366x768/1802/European_wine_estate_planting_base_1366x768.jpgs');"
></div>
<div class="main main-raised">
  <div class="profile-content">
    <div class="container">
      <div class="row">
        <div class="col-md-6 ml-auto mr-auto">
          <div class="profile">
            <div class="avatar">
              <img
                width="120"
                src="https://icon-library.net/images/icon-for-user/icon-for-user-20.jpg"
                alt="Circle Image"
                class="img-raised rounded-circle img-fluid"
              />
            </div>
            <div class="name">
              <h3 class="title description text-center">Bernis Aarón Flores</h3>
              <h6 class="description text-center"  >Ganadero</h6>
            </div>
          </div>
        </div>
      </div>
      <div class="description text-center">
        <p>
          Disfruta realizando subastas en tiempo real, sin costos adicionales ni
          perdida de tiempo.
        </p>
      </div>
    </div>
  </div>
</div>
-->
<img
style="position: absolute; 
width: 60px; height: 60px; 
visibility: visible;"
src="{{ user.photoUrl }}"
class="rounded-circle img-thumbnail"
alt="profile"
(click)="displayForm = !displayForm"
/>
<br>
<section id="profile" class="container;" *ngIf="displayForm">
  <div class="row mt-5">
    <div
      class="offset-lg-4 col-lg4 col-sm-6 col-12 main-secction text-center card"
    >
      <div class="row">
        <div class="col-lg-12 col-sm-12 col-12 profile-header"></div>
      </div>
      <div class="row  card-body" 
        style="margin-left: 150; align-items: center;"
      >
        <div class="col-12" >
          <img
          style="width: 130px ;height: 130px ;"
            src="{{ user.photoUrl }}"
            class="rounded-circle img-thumbnail"
            alt="profile"
          />
          <h5 *ngIf="providerId != 'password'">{{ user.name }}</h5>
          <p>
            {{ user.email }}
          </p>

          <hr />
          <span style="font-family: sans-serif;">
            Bienvenido a Suganic, la primer subasta online de Nicaragua, evita
            gastos innecesarios y perdida de tiempo. Tu solución al momento de
            subastar esta en SUGANIC.
          </span>
        </div>
      </div>
    </div>
  </div>
</section>


