<body>
<div style="background-color: #4C4C4C; padding-top:120px;">
  <img
    style="position: absolute; 
  width: 60px; height: 60px; 
  visibility: visible;
  margin: 10px 0 0 10px;
  border-radius: initial;
  "
    src="{{ user.photoUrl }}"
    class="rounded-circle img-thumbnail pulse"
    alt="profile"
    (click)="displayForm = !displayForm"
  />
  <a href="#" routerLink="/chatroom">
    <span class="front">Suga</span>
    <span class="center"></span>
    <span class="back">Chats</span>
  </a>
</div>

<br />
<br />
<br />

<section
  id="profile"
  class="container;"
  *ngIf="displayForm"
  style="position:absolute; top:0; right:0;
    background-image: url(https://mapio.net/images-p/25839516.jpg);
    padding-top:60px;
  "
>
  <div class="row mt-5">
    <div
      class="offset-lg-4 col-lg4 col-sm-6 col-12 main-secction text-center card"
    >
      <div class="row">
        <div class="col-lg-12 col-sm-12 col-12 profile-header"></div>
      </div>
      <div
        class="row  card-body"
        style="margin-left: 150; align-items: center;"
      >
        <div class="col-12">
          <img
            style="width: 130px ;height: 130px ;"
            src="{{ user.photoUrl }}"
            class="rounded-circle img-thumbnail"
            alt="profile"
          />
          <h6
            style="color: #656768; font-family: sans-serif;
              font-weight: bold;
              "
            *ngIf="providerId != 'password'"
          >
            {{ user.name }}
          </h6>

          <h6
            style="color:#656768; 
            font-family: sans-serif;
            font-weight: bold;
            "
          >
            {{ user.email }}
          </h6>
        </div>
      </div>
    </div>
  </div>
</section>


</body>

