<body>
  <!--Imagen usuaio Logueado-->
  <div class="dim" style="background-color: #4C4C4C; padding-top:120px;">
    <img
      style="position: absolute; 
  width: 60px; height: 60px; 
  visibility: visible;
  margin: 10px 0 0 10px;
  border-radius: initial;
  "
      src="{{ user.photoUrl }}"
      class="rounded-circle img-thumbnail pulse"
      alt="profile"
      (click)="displayForm = !displayForm"
    />
  </div>

  <div class="container" style="padding-left: 80%;">
    <a href="#" routerLink="/chatroom">
      <span class="front">Suga</span>
      <span class="center"></span>
      <span class="back">Chats</span>
    </a>
  </div>
  <br /><br /><br />
  <!--Menú, ventana de usuario-->
  <section
    id="profile"
    class="container;"
    *ngIf="displayForm"
    style="position:absolute; top:0%; right:0; background-color: crimson;
    
    padding-top:70px;
  "
  >
    <div class="row mt-5" style="background-color: crimson;">
      <div class="card">
        <div class="col">
          <div class="col"></div>
        </div>
        <div class="card-body">
          <div class="col-12">
            <img
              style="width: 130px ;height: 130px ;"
              src="{{ user.photoUrl }}"
              class="rounded-circle img-thumbnail"
              alt="profile"
            />
            <h6
              style="color: #656768; font-family: 'Poppins', sans-serif;
              font-weight: bold;"
              *ngIf="providerId != 'password'"
            >
              {{ user.name }}
            </h6>

            <h6
              style="color:#656768; 
            font-family: 'Poppins', sans-serif;
            font-weight: bold;
            "
            >
              {{ user.email }}
            </h6>
            <h6>
              <a
                class="a1"
                (click)="onLogoutGoogle()"
                routerLink="/cuerpo"
                id="home"
                >Cerrar Sesión</a
              >
            </h6>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!--Grid-->
  <div class="container">
    <header class="header">
      <h3 style="text-align: center;">SUGANIC Tu Subasta de Confianza</h3>
    </header>
  
  </div>
  <div class="card">
    <app-carousel></app-carousel>
  </div>
</body>
<br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br>


<img src="https://www.rural-ftp.com/avisos/images/LUgA9OJOfhsSrYnA.jpg" alt=""
style="margin-left: 14%;"  height="180" width="900"
>
<br><br>

<img src="https://i.ytimg.com/vi/a2Ijei9Gu_I/maxresdefault.jpg" alt=""
    style="margin-left: 2%;" 
>

<br><br>

<div class="container-12" style="position: relative;">
  <img src="../../assets/img/anuncios/an1.png" alt="" style="width: 674px;" height="480px;">
  <img src="../../assets/img/anuncios/an2.png" alt="" style="width: 674px;" height="480px;">
</div>

