<div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center teal-text text-lighten-2">Suganic</h1>
        <h2 class="h2-carousel">Somos la primera herramienta en línea para </h2>
        <h2 class="h2-carousel"> la comercialización de ganado en Nicargua.  </h2>
        <div class="row">
           
            <br>
          <h2 class="h2-carousel">Le ofrecemos la facilidad de vender o comprar </h2>
          <h2 class="h2-carousel">ganado desde la comodidad de su hogar o finca. </h2>
        </div>

        <br>
        <br>
        <br>
        <div class="btn-center">
            <a class="waves-effect waves-light btn"><i class="material-icons left">forward</i>Comenzar</a>
            
        </div>
        <br><br>

      </div>
    </div>
   
  </div>
