.parallax-container{
    background-image: url('../../assets/img/fon1.jpg');
  
}
.h2-carousel{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    
}
 .container{
     margin-left: 2%;
 }