
<br>
<body>
  
  <div class="container">
    <div class="slider">
  
      <div class="slide slide1">
        <div class="caption">
          <h4>¡Subasta Online!</h4>
          <p>Ahora puedes ver la subasta desde tu hogar</p>
        </div>
      </div>
  
      <div class="slide slide2">
        <div class="caption">
          <h4>Info2</h4>
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quis 
            quibusdam et perferendis vel perspiciatis. Molestias eius veritatis 
            aliquam similique, consequuntur consectetur asperiores libero sunt 
            dolorem eaque, iusto ea eum sed!</p>
        </div>
      </div>
  
      <div class="slide slide3">
        <div class="caption">
          <h4>Info3</h4>
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quis 
            quibusdam et perferendis vel perspiciatis. Molestias eius veritatis 
            aliquam similique, consequuntur consectetur asperiores libero sunt 
            dolorem eaque, iusto ea eum sed!</p>
        </div>
      </div>

      <div class="slide slide4">
        <div class="caption">
          <h4>Info4</h4>
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quis 
            quibusdam et perferendis vel perspiciatis. Molestias eius veritatis 
            aliquam similique, consequuntur consectetur asperiores libero sunt 
            dolorem eaque, iusto ea eum sed!</p>
        </div>
      </div>
  
      <div class="slide slide1">
        <div class="caption">
          <h4>¡Subasta Online!</h4>
          <p>Ahora puedes ver la subasta desde tu hogar</p>
        </div>
      </div>
  
    </div>
  </div>

  
  
</body>