<body>
  <br>
  <br>
  <br>
  <br>
  <div class="container" style="padding-top: 110px;" >
    <h4 style="text-align: center;text-shadow:2px 2px 2px gray; ">Subastas abierta los dias Miercoles y Jueves</h4>
    <div class="content-all" style=" background-image: url('../../assets/img/galeria/fondo2.jpg')">
      
      <div class="content-carrousel">
          <figure><img src="../../assets/img/galeria/img1.jpg"></figure>
          <figure><img src="../../assets/img/galeria/img6.jpg"></figure>
          <figure><img src="../../assets/img/galeria/img7.jpg"></figure>
          <figure><img src="../../assets/img/galeria/img4.jpg"></figure>
          <figure><img src="../../assets/img/galeria/img8.jpg"></figure>
          <figure><img src="../../assets/img/galeria/img6.jpg"></figure>
          <figure><img src="../../assets/img/galeria/img7.jpg"></figure>
          <figure><img src="../../assets/img/galeria/img8.jpg"></figure>
          <figure><img src="../../assets/img/galeria/img9.jpg"></figure>
          <figure><img src="../../assets/img/galeria/img1.jpg"></figure>
      </div>
    </div>
  </div>
</body>



<br>
<br>
