<br><br><br><br><br><br>


<h2>Subasta Virtual temporalmente cerrada, Jueves día de subasta</h2>

<div class="countbox">
    <div class="timer">


        <h5 class="unit"><strong>{{time.days}}</strong>
            <span>Días</span> 
        </h5>    
        <h5 class="sp">:</h5>

        <h5 class="unit"><strong>{{time.hours}}</strong>
            <span>Horas</span>
        </h5>
        <h5 class="sp">:</h5>

        <h5 class="unit"><strong>{{time.minutes}}</strong>
            <span>Minutos</span>
        </h5>
         <h5 class="sp">:</h5>

        <h5 class="unit"><strong>{{time.seconds}}</strong>
            <span>Segundos</span>
        </h5>
        
        </div>
</div>