<h2  style="text-align: center; color: white; text-shadow:2px 2px 2px gray;">SugaChats</h2>
<hr />
<div class="app-mensajes" id="app-mensajes">

  <div *ngFor="let chat of _cs.chats"
        [ngClass]="{'text-right': _cs.usuario.uid == chat.uid}"
  >
    <span 
          [ngClass]="{'badge-danger': _cs.usuario.uid == chat.uid,
                    'badge-success': _cs.usuario.uid != chat.uid}"
    >
    {{chat.nombre}}</span>
    
    <p style="color: white; text-shadow:1px 1px 1px black;">
      {{chat.mensaje}}
    </p>
  </div>


  <!--<div class="text-right">
    <span class="badge-primary">Berflo26</span>
    <p>
      Este es un mensaje de chat
    </p>
  </div>

  <div>
    <span class="badge-success">Eliza</span>
    <p>
      Este es un mensaje de chat
    </p>
  </div>-->
  

  <div>
    
    <input
      type="text"
      name="mensaje"
      [(ngModel)]="mensaje"
      class="form-control"
      (keyup.enter)="enviar_mensaje()"
      placeholder="Enviar mensaje..."
      autofocus
    />
  </div>
</div>
