<div class="row">
  
  <form class="col s12">
    <h2>Control de venta de ganado</h2>
    <div class="row">
      <div class="input-field col s6">
        <input placeholder="" id="first_name" type="text" class="validate">
        <label for="first_name">codigo</label>
      </div>
      <div class="input-field col s6">
        <input id="last_name" type="text" class="validate">
        <label for="last_name">Numero</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input  id="disabled" type="text" class="validate">
        <label for="disabled">Peso</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input id="password" type="text" class="validate">
        <label for="password">Precio kilo</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input id="email" type="text" class="validate">
        <label for="email">Valor Total</label>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s12">
        <input id="email" type="email" class="validate">
        <label for="email">Correo</label>
      </div>
    </div>

    <a class="waves-effect waves-light btn right"><i class="material-icons right">send</i>Enviar</a>
 
  </form>
</div>