a{
    text-decoration: none;
    font-family: sans-serif;


}

#home:hover{
    font-size: 20px;
    background-color:#81c784;
    border-radius: 6px;
   
    
}
img{
    width: 110px;
    margin-left: 2%;
    position: absolute;
    

}
img:hover{
    background-color:#81c784 ;
}
