<nav id="navbar" class="nav-extended " style="background-color:black">
  <div class="nav-wrapper">
    <a><img id="logo" src="../../assets/img/Suga-Logo copy2.png"/></a>

    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li>
        <a id="home" routerLink="/image/list"> Subasta </a>
      </li>

      <li *ngIf="!isLogged"><a id="home" routerLink="/login">Login</a></li>

      <li><a id="home" routerLink="/perfil" >Perfil</a></li>

      

      <li><a id="home" routerLink="/perfil" *ngIf="displayForm">Perfil</a></li>
      <a routerLink="/payme" class="waves-effect waves-light btn "
        ><i class="material-icons left">add_to_photos</i>Publicar Evento</a>
    </ul>
  </div>
  <div class="nav-content">
    <ul class="tabs tabs-transparent">
      <li class="tab" routerLink="/cuerpo">
        <a class="hoverable" id="home">Inicio</a>
      </li>

      <li class="tab " routerLink="/raza">
        <a class="hoverable" id="home">Galeria de Razas</a>
      </li>

      <li routerLink="/producto" class="tab">
        <a class="hoverable" id="home">Publicidad</a>
      </li>
    </ul>
  </div>
</nav>
