a{
    text-decoration: none;


}

#home:hover{
    font-size: 30px;
    background-color:#81c784;
    font-size: 30px;
}
img{
    width: 150px;
    margin-left: 45%;
    position: absolute;
    

}
img:hover{
    background-color:#81c784 ;
}
