<nav class="nav-extended " style="background-color: rgba(0,0,0, 0.7);">
    <div class="nav-wrapper">
      <a><img src="../../assets/img/"></a>
      <a  data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">Subasta</i></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a >Oferta individual</a></li>
        <li><a >Login</a></li>
        <li><a >perfil</a></li>
        <li><a >Cerrar sesion</a></li>
      </ul>
    </div>
    <div class="nav-content">
      <ul class="tabs tabs-transparent">
        <li class="tab"><a class="hoverable" >Inicio</a></li>
        <li class="tab"><a class="hoverable" >compañia</a></li>
        <li class="tab "><a class="hoverable">Galeria</a></li>
        <li class="tab"><a class="hoverable">Productos</a></li>
      </ul>
    </div>
  </nav>

  