a{
    float: left;
    color: white;
    text-align: center;
    text-decoration:none;
    font-size: 15px;
    border-radius: 4px;
    font-family: sans-serif;


}

#home:hover{
    font-size: 20px;
    background-color:#81c784;
    border-radius: 6px;
   
    
}
img{
    width: 110px;
    margin-left: 2%;
    position: absolute;
    

}
img:hover{
    background-color:#81c784 ;
}
#navbar {
    overflow: hidden;
    background-color: #f1f1f1;
    padding: 5px 10px; /* Large padding which will shrink on scroll (using JS) */
    transition: 0.4s; /* Adds a transition effect when the padding is decreased */
    position: fixed; /* Sticky/fixed navbar */
    width: 100%;
    top: 0; /* At the top */
    z-index: 70;
    
  }
  