
<div class="container">
    <div class="card" style="width:25rem">
        <div class="card-body">
          <form [formGroup]="formTemplate" (submit)="onSubmit(formTemplate.value)">
            <div class="text-center">
              <img [src]="imgSrc" width="350px" height="250px" (click)="fileUploader.click()">
            </div>
            <div class="form-group">
              <label>Seleccionar Archivo</label>
              <input type="file" accept="image/*" class="form-control" #fileUploader formControlName="imageUrl"
                (change)="showPreview($event)">
              <div class="text-danger" *ngIf="isSubmitted && formControls.imageUrl.errors?.required">Campo requerido
              </div>
            </div>
            <div class="form-group">
              <input class="form-control" formControlName="caption" placeholder="Caption">
              <div class="text-danger" *ngIf="isSubmitted && formControls.caption.errors?.required">campo requerido
              </div>
            </div>
            <div class="form-group">
              <select formControlName="category" class="form-control">
                <option value="menor a 8 meses">Ternero o ternera</option>
                <option value="6 0 18 meses">vaquilla o torillo</option>
                <option value="19 a 30 meses">vaquillota o torete</option>
                <option value="mayor a 30 meses">vaca o toro</option>
              </select>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <a routerLink="/image/list" class="btn btn-primary btn-block float-right">ver Galeria</a>
              </div>
              <div class="form-group col-md-6">
                <button  (click)="removeTask(task)" type="submit" class="btn btn-success btn-block float-right">Guardar</button>
              </div>
            </div>
          </form>
        </div>
      </div>
</div>
  
