<section>
  <div class="slide">
    <div class="content">
      <h4>Brahman</h4>
      <p>La raza Brahman moderna poseen una alzada considerablemente 
        menor que el ganado vacuno indio que llegó por primera vez a 
        Estados Unidos. Su cuerpo es moderadamente profundo y muy musculoso
         en su totalidad. La cabeza es larga en comparación con las otras 
         razas productoras de carne.
        </p>
    </div>
  </div>
 
  <div class="slide">
    <div class="content">
      <h4>Holstein</h4>
      <p>La Raza bovina Holstein es la más pesada de las razas lecheras; presenta
         dos variantes en cuanto a color de pelaje: el berrendo blanco con negro,
          y el blanco con rojo.
        </p>
    </div>
  </div>

  <div class="slide">
    <div class="content">
      <h4>Gyr</h4>
      <p>El ganado Gyr se presenta como una alternativa para mejorar la producción de leche
         en los climas cálidos, pues comparte las características de los ganados bos índicus
          como son su gran rusticidad, resistencia y alta adaptabilidad al medio tropical.
        </p>
    </div>
  </div>

  <div class="slide">
    <div class="content">
      <h4>Pardo Suizo</h4>
      <p>La raza Pardo Suizo se caracteriza entre otras cosas por su talla mediana. 
        Raza vacuna de doble proposito, para la producción lechera como para la obtención 
        de carne. Por su alta rusticidad y producción.
        </p>
    </div>
  </div>
 
  <div class="slide">
    <div class="content">
      <h4>Nelore</h4>
      <p>La Raza Nelore se caracteriza por ser animales de tamaño medio a grande, de pelaje 
        blanco, gris y manchado de gris, los cuales se encuentran en una escala mucho menor.
        </p>
    </div>
  </div>

  <div class="slide">
    <div class="content">
      <h4>Jersey</h4>
      <p>Jersey es una raza de ganado vacuno británico productor de leche y carne, de pelaje 
        marrón claro, es famosa por el alto contenido graso de su leche y por la docilidad de sus vacas
        </p>
    </div>
  </div>
</section>
<br><br><br><br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<br><br><br>