<br />
<br />
 
<div class="col">
  <div class="col s12" id="banner">
    <h2
      class="flow-text"
      style="text-align: center; margin: 0; color:lavenderblush; 
    font-family: 'Times New Roman', Times, serif;
    font-style:normal;
    font-weight: bold;
    text-shadow: 2px 2px 2px gray;"
    >
      Razas más reconocidas en Latinoamérica
    </h2>
  </div>

  <div class="col s6"><span class="flow-text"> </span></div>
</div>

<br />
<br />

<div class="row">
  <div class="col s6 m7">
    <div class="card">
      <div class="card-image">
        <img
          class="responsive-img"
          src="../../assets/img/razas/droughmaster.jpg"
        />
        <span
          class="card-title "
          id="titulo"
          style="text-shadow: 2px 2px 2px gray; font-weight: bold;"
          >Droughmaster</span
        >
      </div>
      <div class="card-content">
        <p style="text-align: justify;">
          La raza Droughtmaster se desarrollo en el norte de Australia al
          comienzo y mediados de 1900. El cruce inicial de Bos taurus y Bos
          indicus y la selección de sus progenitores contribuyen a un 50% de Bos
          indicus y un 50% de Bos taurus, reteniendo las mejores características
          de los dos grupos.
        </p>
      </div>
      <div class="card-action">
        <a href="#"></a>
      </div>
    </div>
  </div>
  <div class="col s6"></div>
</div>

<div class="row">
  <div class="col s6 m7">
    <div class="card">
      <div class="card-image">
        <img
          class="responsive-img"
          src="../../assets/img/razas/Romagnola.jpg"
        />
        <span
          class="card-title"
          id="titulo"
          style="text-shadow: 2px 2px 2px gray; font-weight: bold;"
          >Ramagnola</span
        >
      </div>
      <div class="card-content">
        <p style="text-align: justify;">
          El pelo corto y sedoso es gris, con matices más oscuros en el cuello y
          la espalda; alrededor de los ojos y las patas. La capa es menos
          obscura en las hembras. La piel está pigmentada y la lengua, hocico y
          orificios naturales, borla de la cola y pezuñas, son negras.
        </p>
      </div>
      <div class="card-action">
        <a href="#"></a>
      </div>
    </div>
  </div>

  <div class="col s6 m7">
    <div class="card">
      <div class="card-image">
        <img class="responsive-img" src="../../assets/img/razas/nelore.jpeg" />
        <span
          class="card-title"
          id="titulo"
          style="text-shadow: 2px 2px 2px gray; font-weight: bold;"
          >Nelore</span
        >
      </div>
      <div class="card-content">
        <p style="text-align: justify;">
          El pelo corto y sedoso es gris, con matices más oscuros en el cuello y
          la espalda; alrededor de los ojos y las patas. La capa es menos
          obscura en las hembras. La piel está pigmentada y la lengua, hocico y
          orificios naturales, borla de la cola y pezuñas, son negras.
        </p>
      </div>
      <div class="card-action">
        <a href="#"></a>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col s6 m7">
    <div class="card">
      <div class="card-image">
        <img
          class="responsive-img"
          src="../../assets/img/razas/marchigiana.jpeg"
        />
        <span
          class="card-title"
          id="titulo"
          style="text-shadow: 2px 2px 2px gray; font-weight: bold;"
          >Marchigiana</span
        >
      </div>
      <div class="card-content">
        <p style="text-align: justify;">
          Italia es el país de origen de esta raza; se encuentra principalmente
          en las provincias centrales. El pelo es corto y gris claro, pero
          obscuro en la borla de la cola, en las orejas y pestañas.
        </p>
      </div>
      <div class="card-action">
        <a href="#"></a>
      </div>
    </div>
  </div>

  <div class="col s6 m7">
    <div class="card">
      <div class="card-image">
        <img
          class="responsive-img"
          src="../../assets/img/razas/maine anjou.jpg"
        />
        <span
          class="card-title"
          id="titulo"
          style="text-shadow: 2px 2px 2px gray; font-weight: bold;"
          >Maine Anjou</span
        >
      </div>
      <div class="card-content">
        <p style="text-align: justify;">
          Origen La Maine-Anjou resulta del mestizaje, a finales del siglo XIX y
          principios del XX, de la raza Mancelle con toros de raza Shorthorn de
          carne, después de una selección, llevada a cabo en una región mixta de
          cultivos y ganadería, por el formato y la facilidad de engorde.
        </p>
      </div>
      <div class="card-action">
        <a href="#"></a>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col s6 m7">
    <div class="card">
      <div class="card-image">
        <img class="responsive-img" src="../../assets/img/razas/Limousin.jpg" />
        <span
          class="card-title"
          id="titulo"
          style="text-shadow: 2px 2px 2px gray; font-weight: bold;"
          >Limousin</span
        >
      </div>
      <div class="card-content">
        <p style="text-align: justify;">
          Esta raza se formó en el sudoeste de Francia, en la región Vasca; su
          nombre proviene de la antigua provincia de Limoges. Aunque no se sabe
          concretamente su origen, se cree que es una variedad de la raza
          aquitánica, del tipo de "Bos Taurus Frontosus".
        </p>
      </div>
      <div class="card-action">
        <a href="#"></a>
      </div>
    </div>
  </div>

  <div class="col s6 m7">
    <div class="card">
      <div class="card-image">
        <img class="responsive-img" src="../../assets/img/razas/holstein.jpg" />
        <span
          class="card-title"
          id="titulo"
          style="text-shadow: 2px 2px 2px gray; font-weight: bold;"
          >Holstein</span
        >
      </div>
      <div class="card-content">
        <p style="text-align: justify;">
          Los Holstein son animales elegantes, grandes con modelos de color de
          negro y blanco o rojo y blanco. Un ternero Holstein saludable pesa 40
          Kg. o más al nacimiento. Una vaca madura llega a pesar unos 675 Kg.
          Con una altura a la cruz de unos 150 cm.
        </p>
      </div>
      <div class="card-action">
        <a href="#"></a>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col s6 m7">
    <div class="card">
      <div class="card-image">
        <img class="responsive-img" src="../../assets/img/razas/hereford.jpg" />
        <span
          class="card-title"
          id="titulo"
          style="text-shadow: 2px 2px 2px gray; font-weight: bold;"
          >Hereford</span
        >
      </div>
      <div class="card-content">
        <p style="text-align: justify;">
          La raza Hereford fue establecida hace unos dos siglos atrás como una
          producto de necesidad, por agricultores próximos a Hereford, condado
          de Herefordshire, Inglaterra, con el objeto producir carne para
          expandir el mercado de alimentos creado por la Revolución Industrial.
        </p>
      </div>
      <div class="card-action">
        <a href="#"></a>
      </div>
    </div>
  </div>

  <div class="col s6 m7">
    <div class="card">
      <div class="card-image">
        <img class="responsive-img" src="../../assets/img/razas/gyr.jpg" />
        <span
          class="card-title"
          id="titulo"
          style="text-shadow: 2px 2px 2px gray; font-weight: bold;"
          >Gyr</span
        >
      </div>
      <div class="card-content">
        <p style="text-align: justify;">
          Es una raza de talla media, siendo su distinción sobre las demás razas
          la conformación de su cabeza, que posee frente muy amplia y convexa,
          haciéndola inconfundible. Los cuernos son caídos y dirigidos hacia
          atrás, algo hacia afuera y con curvatura hacia arriba. Las orejas son
          largas y colgantes terminadas
        </p>
      </div>
      <div class="card-action">
        <a href="#"></a>
      </div>
    </div>
  </div>
</div>
