
<section>
  <div class="slide">
    <div class="content">
      <h4>Brahman</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing
         elit. Illo ut odit libero enim ad culpa et, ex voluptas
          expedita quam consequatur numquam voluptatum modi accusantium 
          accusamus minima earum repudiandae sit.
        </p>
    </div>
  </div>

  <div class="slide">
    <div class="content">
      <h4>Holstein</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing
         elit. Illo ut odit libero enim ad culpa et, ex voluptas
          expedita quam consequatur numquam voluptatum modi accusantium 
          accusamus minima earum repudiandae sit.
        </p>
    </div>
  </div>

  <div class="slide">
    <div class="content">
      <h4>Gyr</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing
         elit. Illo ut odit libero enim ad culpa et, ex voluptas
          expedita quam consequatur numquam voluptatum modi accusantium 
          accusamus minima earum repudiandae sit.
        </p>
    </div>
  </div>

  <div class="slide">
    <div class="content">
      <h4>Pardo Suizo</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing
         elit. Illo ut odit libero enim ad culpa et, ex voluptas
          expedita quam consequatur numquam voluptatum modi accusantium 
          accusamus minima earum repudiandae sit.
        </p>
    </div>
  </div>

  <div class="slide">
    <div class="content">
      <h4>Nelore</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing
         elit. Illo ut odit libero enim ad culpa et, ex voluptas
          expedita quam consequatur numquam voluptatum modi accusantium 
          accusamus minima earum repudiandae sit.
        </p>
    </div>
  </div>

  <div class="slide">
    <div class="content">
      <h4>Jersey</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing
         elit. Illo ut odit libero enim ad culpa et, ex voluptas
          expedita quam consequatur numquam voluptatum modi accusantium 
          accusamus minima earum repudiandae sit.
        </p>
    </div>
  </div>
</section>
<br><br><br><br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>