<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<table>
  <tbody>
    <tr>
      <td>
        <h2>oferta ganadora: 
        </h2>
        <h3 style="visibility: hidden;">{{user.name}}</h3>
      </td>
      <div *ngIf="user.name=='Bryan Rodriguez', else contrario">
        <td>
         
          <h3>Bryan Rodriguez</h3>
        
      </td>
      <td>
        <h3>
          $400
        </h3>
      </td>

      <td>
        <button routerLink="/carven" type="button" class="btn btn-success">Carta de venta</button>
      </td>

      </div>

      <ng-template #contrario>
        <td>
         
          <h3>bryan rodriguez</h3>
        
      </td>
      <td>
        <h3>
          $400
        </h3>
      </td>

      <td>
        <button routerLink="/carven" type="button" class="btn btn-success" disabled>Carta de venta</button>
      </td>

      </ng-template>
     
      
    </tr>

  </tbody>
</table>


<table class="table table-hover">
  <thead>
    <th>Usuario</th>
    <th>Oferta</th>
    
    <th></th>
  </thead>
  <tbody>
    <tr *ngFor="let emp of list">
      <td (click)="onEdit(emp)">{{emp.fullName}}</td>
      <td (click)="onEdit(emp)">{{emp.empCode}}  {{emp.oferta}}</td>
      
      <td>
        <a class="btn " (click)="onDelete(emp.id)">
          <i class="fa fa-trash"></i>
        </a>

      </td>
    </tr>

    

    
  </tbody>
</table>
