<table *ngIf="imageList" >
  <tr *ngFor="let i of rowIndexArray">
    <td>
      <!--<div class="imagebox" *ngIf="i == 0">
        <a routerLink="/image/upload">
          <img src="/assets/img/new_image.jpg" class="img-fluid" />
          <span class="imagebox-desc">Insertar nueva imagen</span></a
        >
      </div>-->
    </td>
  </tr>
  <div class="row" style="padding-top: 110px;">
    <div class="col s6"></div>
    <div class="col s6">
      <app-counter></app-counter>
    </div>
  </div>
</table>

<table *ngIf="imageList">
  <tr *ngFor="let i of rowIndexArray">
    <td>
      <div class="imagebox" *ngIf="i != 0">
        <img [src]="imageList[3 * i - 1].imageUrl" class="img-fluid" />
        <span class="imagebox-desc">{{ imageList[3 * i - 1].caption }}</span>
      </div>
    </td>
    <div class=" row">
      <div class="col s6">
        <div class="card">
          <td *ngIf="imageList[3 * i]">
            <div class="imagebox">
              <img routerLink="/subastaN" [src]="imageList[3 * i].imageUrl" class="img-fluid" />
              <span class="imagebox-desc">{{ imageList[3 * i].caption }} <br>
                <span>tiempo restante: 1days:12hrs:34seconds</span>
              </span>
             
            </div>
            <div class="row">
              <form class="col s12">
               
       

                <br />

              </form>
            </div>
          </td>
        </div>
      </div>
      <div class="col s6">
        <div class="card">
          <td *ngIf="imageList[3 * i + 1]">
            <div class="imagebox">
              <img [src]="imageList[3 * i + 1].imageUrl" class="img-fluid" />
              <span class="imagebox-desc">{{
                imageList[3 * i + 1].caption
              }} <br>
              <span>tiempo restante: 2days:9hrs:20seconds</span></span>
              
            </div>

            <div class="row">
              <form class="col s12">


               
            

                <br />

              </form>
            </div>

            
          </td>
        </div>
      </div>
    </div>
  </tr>
</table>
