<div class="row">
  <div class="col s6"></div>


  <div class="col s6">
    <app-timer date="2019-12-12"></app-timer>
  </div>
</div>

<table *ngIf="imageList">
  <tr *ngFor="let i of rowIndexArray">
    <td>
      <div class="imagebox" *ngIf="i==0">
        <a routerLink="/image/upload">
          <img src="/assets/img/new_image.jpg" class="img-fluid">
          <span class="imagebox-desc">Insertar nueva imagen</span></a>
      </div>
      
    </td>
  </tr>
  
</table>
<table *ngIf="imageList">
  <tr *ngFor="let i of rowIndexArray">
    <td>
      <div class="imagebox" *ngIf="i!=0">
          <img  [src]="imageList[3*i-1].imageUrl" class="img-fluid">
          <span class="imagebox-desc">{{imageList[3*i-1].caption}}</span>
        </div>
        
      </td>
      <div class=" row">
        <div class="col s6">
            <div class="card">
                <td *ngIf="imageList[3*i]">
                    <div class="imagebox">
                      <img [src]="imageList[3*i].imageUrl" class="img-fluid">
                      <span class="imagebox-desc">{{imageList[3*i].caption}}</span>
                      <a routerLink="/crud"  class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
            
                    </div>
                    <div class="row">
                        <form class="col s12">
                          <div class="row">
                            <div class="input-field col s6">
                              <i class="material-icons prefix">attach_money</i>
                              <textarea id="icon_prefix2" class="materialize-textarea">75$</textarea>
                              <label for="icon_prefix2"></label>
                            </div>
                          </div>
                          <button  id="aumentar" class="btn waves-effect waves-light" type="submit" name="action">Aumentar
                              <i class="material-icons right">send</i>
                            </button>
                        </form>
                        
                                
                      </div>
                   
              
            
                   
                  </td>
            </div>
        </div>
        <div class="col s6">
            <div class="card" >
                <td *ngIf="imageList[3*i+1]">
                    <div class="imagebox">
                      <img [src]="imageList[3*i+1].imageUrl" class="img-fluid">
                      <span class="imagebox-desc">{{imageList[3*i+1].caption}}</span>
            
                     
                    </div>
            
                    <div class="row" >
                        <form class="col s12">
                          <div class="row">
                            <div class="input-field col s6">
                              <i class="material-icons prefix">attach_money</i>
                              <textarea id="icon_prefix2" class="materialize-textarea">45$</textarea>
                              <label for="icon_prefix2"></label>
                            </div>
                          </div>
                          <button  id="aumentar" class="btn waves-effect waves-light" type="submit" name="action">Aumentar
                              <i class="material-icons right">send</i>
                            </button>
                        </form>
                      </div>
                  </td>
            </div>
        </div>
      </div>


     
    
  </tr>

</table>
