<br>
<br>
<app-carousel></app-carousel>
<div class="content-img">
  <div class="brand-promotion">
    <div class="container">
      <div class="media row">
        <div class="col-sm-4">
          <div class="brand-content wow fadeIn animated"  style="visibility: visible; -webkit-animation: fadeIn 700ms 300ms;">
            
            <i class="fa fa-building-o fa-4x pull-left" aria-hidden="true"></i>
            <div class="media-body">							
              <h2>Misión</h2>
              <p> Ser una empresa que ayude al ganadero a comercializar su ganado de forma eficiente
                y segura, logrando satisfacer sus necesidades, creando un ambiente ágil y transparente
                en sus transacciones, generando prestigio y confianza a los ganaderos. </p>
                <br>
            </div>
          </div>						
        </div>
        <div class="col-sm-4">
          <div class="brand-content wow fadeIn animated" style="visibility: visible; -webkit-animation: fadeIn 700ms 400ms;">
            
            <i class="fa fa-line-chart fa-4x pull-left" aria-hidden="true"></i>
            <div class="media-body">							
              <h2>Visión</h2>
              <p> Consolidarnos como lider en Nicaragua para la comercialización de ganado en línea, brindando
                rentabilidad a los ganaderos por medio de un servicio de calidad y a menor costo. Permitiendo
                una exposición de todas las zonas ganaderas del país al alcance de un click.</p>
              
              
            </div>
          </div>
                      
        </div>
        <div class="col-sm-4">
          <div class="brand-content wow fadeIn animated"  style="visibility: visible; -webkit-animation: fadeIn 700ms 500ms;">
          
          <i class="fa fa-handshake-o fa-4x pull-left" aria-hidden="true"></i>
            <div class="media-body">							
              <h2>Valores</h2>
              <p> Confianza, Transparecia, Compromiso y Honestidad
                creando una pasión que fomenta la credibilidad de 
                nuestros clientes.
                <br>
                <br>
                <br>
                <br>
                <br>
                
              </p>
            </div>
          </div>						
        </div>
      </div>
    </div>
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  
  
  <app-regresive></app-regresive>

</div>
<div class="container" id="about">
  <div data-scroll-reveal="enter from the bottom after 0.3s" class="title text-center">
      <h2>Acerca de</h2>
      <p>SuGaNic</p>
      <hr>
  </div><!-- end title -->

<div class="row text-center">
  <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
      <div data-scroll-reveal="enter from the bottom after 0.4s" class="about-box">
          <div class="about-border"> <i class="fa fa-tablet aligncenter"></i></div>
          <h3>Diseño Web Adaptable</h3>
          <p>Mediante el uso de estructuras flexibles se logra adaptar el sitio web al entorno del dispositivo en el que se encuentre y pueda ser bastante legible para los usuarios sobre el dispositivo con el que éste interactúe.</p>
      </div>
  </div><!-- end column -->

  <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
      <div data-scroll-reveal="enter from the bottom after 0.5s" class="about-box">
              <div class="about-border"> <i class="fa fa-bars aligncenter"></i></div>
              <h3>Excelentes Características</h3>
              <p>Con la llegada SuGaNic , las subastas de ganado han pasado a un entorno virtual donde se realizan subastas Online facilitando de forma muy grande la puesta en venta de los bovinos , tanto para vendedores como compradores.</p>
      </div>
  </div><!-- end column -->

  <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
      <div data-scroll-reveal="enter from the bottom after 0.5s" class="about-box">
              <div class="about-border"> <i class="fa fa-university aligncenter"></i></div>
              <h3>Comodidad</h3>
              <p>Desde la comodidad de tu casa, sin necesidad de tener que estar presente en una licitación física, puedes hacer el seguimiento de la subasta en la que quieras participar a tiempo real, pujar tranquilamente y recibirlo en tu hogar. Además, tendrás más calma y tranquilidad para determinar que tanto estás dispuesto a pujar.</p>
      </div>
  </div><!-- end column -->

  <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
      <div data-scroll-reveal="enter from the bottom after 0.5s" class="about-box">
              <div class="about-border"> <i class="fa fa-suitcase aligncenter"></i></div>
              <h3>Gran variedad de opciones</h3>
              <p>Para conseguir distintos productos lotes o servicios, podrás encontrar diferentes portales de subastas, así como proveedores. Las posibilidades en la web son muchísimas y variadas, cuestión que le añade valor a las subastas online en contraposición a las tradicionales.</p>
      </div>
  </div><!-- end column -->
</div><!-- end row -->
</div><!-- end container -->


<br>



<div class="col s12 m7">
  <div class="card">
    <div class="card-video">
      <video
        preLoad
        autoplay
        controls
        src="h../../assets/img/suganic.mp4"
      ></video>
    </div>
  </div>
</div>

<img src="../../assets/img/anuncios/team suga.PNG" alt=""> <br>