<div class="card" style="padding-top: 110px;">
  <div class="card-content">
    <span class="card-title">Registro Bovino</span>
    <form (ngSubmit)="onGuardarCaracteristicas(formNew)" #formNew="ngForm" class="col s6">
      <div class="row">
       

        <div class="input-field col s6">
          <input  [(ngModel)]="caracteristicas.Departamento" #Departamento="ngModel" type="text" name="Departamento" id="Departamento" placeholder="Departamento">
          <label>Departamento</label>
        </div>
      </div>


      <div class="row">
        <div class="input-field col s6">
          <input  [(ngModel)]="caracteristicas.Municipio" #Municipio="ngModel" type="text" name="Municipio" id="Municipio" placeholder="Municipio">
          <label>Municipio</label>
        </div>

        <div class="input-field col s6">
          <input  [(ngModel)]="caracteristicas.Comarca" #Comarca="ngModel" type="text" name="Comarca" id="Comarca" placeholder="Comarca">
          <label>Comarca</label>
        </div>
      </div>


      <div class="row">
        <div class="input-field col s6">
          <input  [(ngModel)]="caracteristicas.Finca" #Finca="ngModel" type="text" name="finca" id="finca" placeholder="Nombre del establecimiento">
          <label>Finca</label>
        </div>

        <div class="input-field col s6">
          <input  [(ngModel)]="caracteristicas.Chapa" #Chapa="ngModel" type="text" name="Arete" id="Arete" placeholder="numero de indentificacion">
          <label>Chapa</label>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s6">
          <input  [(ngModel)]="caracteristicas.Raza" #Raza="ngModel" type="text" name="Raza" id="Raza" placeholder="Raza del ejemplar">
          <label>Raza</label>
        </div>

        <div class="input-field col s6">
          <input  [(ngModel)]="caracteristicas.Color" #Color="ngModel" type="text" name="Color" id="Color" placeholder="Color">
          <label>Color</label>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s6">
          <input  [(ngModel)]="caracteristicas.Peso" #Peso="ngModel" type="text" name="Peso" id="Peso" placeholder="peso en kg">
          <label>Peso</label>
        </div>

        <div class="input-field col s6">
          <input  [(ngModel)]="caracteristicas.Precio" #Precio="ngModel" type="text" name="Precio" id="Precio" placeholder="precio por kilo">
          <label>Precio</label>
        </div>

        <div class="input-field col s6">
          <input  [(ngModel)]="caracteristicas.Descripcion" #Descripcion="ngModel" type="text" name="Antecedentes" id="Antecedentes" placeholder="descripcion de Antecedentes">
          <label>Descripcion</label>
        </div>
      </div>
      <button  routerLink="/image/upload" id="btn" class="btn waves-effect waves-light right " type="submit" name="action">Siguiente
        <i class="material-icons right">fast_forward</i>
      </button>
    
      <button (click)="removeTask(task)" id="btn"  type="submit" class="btn waves-effect waves-light orange right">Guardar
        <i class="material-icons">add_circle</i>
      </button>
     
  </form>
  </div>
</div>

<app-caracteristicas></app-caracteristicas>