@import url('https://fonts.googleapis.com/css?family=Francois+One|IBM+Plex+Serif|Nanum+Gothic|Patua+One|Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css?family=Alfa+Slab+One&display=swap');

input.ng-touched.ng-invalid{
    border-color: #dc3545;
}

div.validation-error{
    width: 100%;
    margin-top: .25rem;
    font-size: 80%;
    color: #dc3545;
}

form{
    margin-left: 300px;
}
* {
    font-family: Lato;
  }
  
  .counter-wrapper {
    width: 200px;
    height: 80px;
    display: inline-flex;
    
    font-size: 3rem;
    justify-content: right;
     align-items: center;
     
  }
  h5
  {
    font-family: 'Roboto Condensed', sans-serif;
    color: #fff;
    background-color:crimson;
    border: 1px solid #CCC;
    margin-left: 20%;
  }


  