<span class=" card-oferta" style="color: black;">&emsp;&emsp;&nbsp;&nbsp;&nbsp;Oferta de subasta actual: $ {{pre}}</span>
<form #form="ngForm" autocomplete="off" (submit)="onSubmit(form)">
  <input type="hidden" name="id" #id="ngModel" [(ngModel)]="service.formData.id">
  <div class="counter-wrapper">
    <app-timer #counter></app-timer>
    </div>
    <div   style="color: black;">{{counterState}}</div>
  
    <div *ngIf="counterState=='cronometro de subasta' ; else validacion">
      <div class="form-group">
        <input  name="oferta" #oferta="ngModel" [(ngModel)]="service.formData.oferta" class="form-control" placeholder="Oferta">
        <div *ngIf="oferta.value== ''; else denegar" ></div>
        <ng-template #denegar>
          <div *ngIf="oferta.value< '350'" class="validation-error">Requiere una cantidad mayor</div>

        </ng-template>
      </div>
    
  
    
      <div class="form-group">
       
        <button  type="submit"  class="btn btn-lg btn-block btn-info">Ofertar</button>
      </div>
    </div>
    <ng-template #validacion>
      <div class="form-group">
        <input name="oferta" #oferta="ngModel" [(ngModel)]="service.formData.oferta" class="form-control" placeholder="Oferta">
      </div>
     
  
    
      <div class="form-group">
       
        <button  type="submit"  class="btn btn-lg btn-block btn-info" disabled>Ofertar</button>
      </div>
    </ng-template>
   
    

  


</form>
<div class="card-action">
  <a class="blue-text">oferta mayor: {{ofertaM}}</a>
  <a href="#" routerLink="/employeelist" class="blue-text">Historial de ofertas</a>
  <a  class="blue-text">Total de ofertas: {{cont}}</a>
</div>