<br>
<br>


<div class="row">
  <div class="col s12" id="banner"><span class="flow-text">Productos para tu Ganado</span></div>
  <div class="col s6"><span class="flow-text"> </span></div>
</div>
<br>
<br>

<div class="row">
    <div class="col s6 m7">
      <div class="card">
        <div class="card-image">
          <img  class= "responsive-img" src="https://www.sanidadanimal.bayer.com.mx/static/media/images/products/productdetail/Catosal.jpg">
          <span class="card-title " id="titulo">Catosal</span>
        </div>
        <div class="card-content">
          <p>Los compuestos de fósforo, tal como se presenta en Catosal con vitamina B12, influyen sobre casi todos los procesos de asimilación del organismo, por ello se les ha denominado estimulantes metabólicos; asimismo intervienen en un sin número de reacciones enzimáticas. Por su contenido de vitamina B12, Catosal fomenta el metabolismo de los carbohidratos y lípidos, de tal forma que influye favorablemente en el crecimiento corporal, en la formación de glóbulos rojos, y demuestra también una acción protectora del hígado.</p>
        </div>
        <div class="card-action">
          <a href="#">This is a link</a>
        </div>
      </div>
    </div>
    <div class="col s6"></div>
  </div>

<div class="row">
  <div class="col s6 m7">
    <div class="card">
      <div class="card-image">
        <img class="responsive-img" src="https://scontent.fmga3-1.fna.fbcdn.net/v/t1.0-0/p640x640/44371609_1140355652785345_1016604894808768512_o.jpg?_nc_cat=106&_nc_ohc=P450oHFSm3sAQmokJDFqsuAdTYE8RTpX5n54MxRx7JTAlRo0qfBabzheQ&_nc_ht=scontent.fmga3-1.fna&oh=262459ab11ac39670c993cb5a0f076b8&oe=5E6A8DA6">
        <span class="card-title" id="titulo">Mor</span>
      </div>
      <div class="card-content">
        <p>Mejora la lactancia de tu ganado, produce leche mas nutritiva y de calidad</p>
      </div>
      <div class="card-action">
        <a href="#">This is a link</a>
      </div>
    </div>
    
  </div>

  <div class="col s6 m7">
    <div class="card">
      <div class="card-image">
        <img  class="responsive-img" src="https://www.solla.com/sites/default/files/styles/producto_display/public/productos/empaques/manna_extruido.png?itok=4tD3WldS">
        <span class="card-title" id="titulo">solla</span>
      </div>
      <div class="card-content">
        <p>MANNÁ ® es el producto Solla de ganadería para las etapas de Preiniciación e iniciación de las terneras y terneros.  El principal factor regulador del desarrollo del aparato digestivo es la dieta, específicamente el concentrado, no los forrajes. Por su composición ideal, MANNÁ ® es ávidamente consumido y estimula el rápido desarrollo del rumen.</p>
      </div>
      <div class="card-action">
        <a href="#">This is a link</a>
      </div>
    </div>
    
  </div>
</div>
<div class="row">
    <div class="col s6 m7">
      <div class="card">
        <div class="card-image">
          <img class="responsive-img" src="https://ec.all.biz/img/ec/catalog/582.jpeg">
          <span class="card-title" id="titulo"></span>
        </div>
        <div class="card-content">
          <p></p>
        </div>
        <div class="card-action">
          <a href="#">This is a link</a>
        </div>
      </div>
      
    </div>
  
    <div class="col s6 m7">
      <div class="card">
        <div class="card-image">
          <img class="responsive-img" src="../../assets/img/razas/maine anjou.jpg">
          <span class="card-title" id="titulo">Maine Anjou</span>
        </div>
        <div class="card-content">
          <p>Origen La Maine-Anjou resulta del mestizaje, a finales del siglo XIX y principios del XX, de la raza Mancelle con toros de raza Shorthorn de carne, después de una selección, llevada a cabo en una región mixta de cultivos y ganadería, por el formato y la facilidad de engorde.</p>
        </div>
        <div class="card-action">
          <a href="#">This is a link</a>
        </div>
      </div>
      
    </div>
  </div>
  <div class="row">
      <div class="col s6 m7">
        <div class="card">
          <div class="card-image">
            <img  class="responsive-img" src="../../assets/img/razas/Limousin.jpg">
            <span class="card-title" id="titulo">Limousin</span>
          </div>
          <div class="card-content">
            <p>Esta raza se formó en el sudoeste de Francia, en la región Vasca; su nombre proviene de la antigua provincia de Limoges. Aunque no se sabe concretamente su origen, se cree que es una variedad de la raza aquitánica, del tipo de "Bos Taurus Frontosus".</p>
          </div>
          <div class="card-action">
            <a href="#">This is a link</a>
          </div>
        </div>
        
      </div>
    
      <div class="col s6 m7">
        <div class="card">
          <div class="card-image">
            <img class="responsive-img" src="../../assets/img/razas/holstein.jpg">
            <span class="card-title" id="titulo">Holstein</span>
          </div>
          <div class="card-content">
            <p>Los Holstein son animales elegantes, grandes con modelos de color de negro y blanco o rojo y blanco. Un ternero Holstein saludable pesa 40 Kg. o más al nacimiento. Una vaca madura llega a pesar unos 675 Kg. Con una altura a la cruz de unos 150 cm.</p>
          </div>
          <div class="card-action">
            <a href="#">This is a link</a>
          </div>
        </div>
        
      </div>
    </div>
    <div class="row">
        <div class="col s6 m7">
          <div class="card">
            <div class="card-image">
              <img class="responsive-img" src="../../assets/img/razas/hereford.jpg">
              <span class="card-title" id="titulo">Hereford</span>
            </div>
            <div class="card-content">
              <p>La raza Hereford fue establecida hace unos dos siglos atrás como una producto de necesidad, por agricultores próximos a Hereford, condado de Herefordshire, Inglaterra, con el objeto producir carne para expandir el mercado de alimentos creado por la Revolución Industrial.</p>
            </div>
            <div class="card-action">
              <a href="#">This is a link</a>
            </div>
          </div>
          
        </div>
      
        <div class="col s6 m7">
          <div class="card">
            <div class="card-image">
              <img class="responsive-img" src="../../assets/img/razas/gyr.jpg">
              <span class="card-title" id="titulo">Gyr</span>
            </div>
            <div class="card-content">
              <p>Es una raza de talla media, siendo su distinción sobre las demás razas la conformación de su cabeza, que posee frente muy amplia y convexa, haciéndola inconfundible. Los cuernos son caídos y dirigidos hacia atrás, algo hacia afuera y con curvatura hacia arriba. Las orejas son largas y colgantes terminadas </p>
            </div>
            <div class="card-action">
              <a href="#">This is a link</a>
            </div>
          </div>
          
        </div>
      </div>


