<div class="container col-5" id="content" #content>
  <h2>Carta de PreVenta</h2>
  <br />
  <div class="row">
    <form class="col s12">

        <p>
            Por medio de la presente hago constar que he inciado el proceso de compra -
            venta con el señor 
            <strong style="visibility: collapse;"> Bernis Aarón Flores Vallecillo</strong>
            propietario de la finca la esperanza etc..........
          </p> 
          
      <div class="card">
        <div class="row">
          <div class="col s6"><strong>propietario: {{precio[i].Propietario}}</strong></div>
          <div class="col s6"> <strong>Departamento: {{precio[i].Departamento}}</strong></div>
        </div >
        <div class="row">
          <div class="col s6"><strong>Municipio: {{precio[i].Municipio}}</strong></div>
          <div class="col s6"> <strong>Comarca: {{precio[i].Comarca}}</strong></div>
        </div>
        <div class="row">
          <div class="col s6"><strong>Finca: {{precio[i].Finca}}</strong></div>
          <div class="col s6"><strong>Arete: {{precio[i].Chapa}}</strong></div>
        </div>
        <div class="row">
          <div class="col s6"><strong>Raza: {{precio[i].Raza}}</strong></div>
          <div class="col s6"><strong>Color: {{precio[i].Color}}</strong></div>
        </div>
        
        <div class="row">
          <div class="col s6"><strong>Peso: {{precio[i].Peso}}</strong></div>
          <div class="col s6"><strong>Antecedentes: {{precio[i].Descripcion}}</strong></div>
        </div>
        <textarea class="text-center">{{precio[i].Precio}}</textarea>
      </div>

 

      <br />

    </form>
  </div>
  
  <button
    class="btn waves-effect  waves-light"
    style="align-content:flex-start;
            background-color: green;"
    type="submit"
    name="action"
    (click)="dowloandpdf()"
  >
    Generar carta pre_venta
  </button>
</div>
