
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>


  <div class="container col-5" id="content" #content>
    
<div class="row">
  <div class="col s12"></div>
  <div class="col 12"><b style="text-align: center; size: 50px;">Carta de venta de ganado</b></div>
  <div class="col s12"></div>
</div>
       
          
      
        <div class="row">
         
          <div class="col"><b>Municipio de: </b> 
            <u>Juigalpa.</u>
          </div>
          <div class="col"> <b>Del departamento: </b><u>Chontales</u></div>
        </div >
        <div class="row">
          <div class="col"><b>Yo:  </b> <u>Steven Tellez</u></div>
          <div class="col"> <b>Con domicilio en el municipio: </b> <u> Juigalpa</u></div>
        </div>
        <div class="row">
          <div class="col"><b>Barrio: </b><u>Las canoas</u></div>
          <div class="col"><b>Comarca: </b><a>_________</a></div>
          <div class="col"><b>Ced. N°: </b><u>121-190496-0005F</u></div>
        </div>
        <div class="row">
          <div class="col"><b>Por medio de la presente venta hago constar que por la suma: </b><u>$ 500</u></div>
          
        </div>
        
        <div class="row">
          <div class="col"><b>Confieso haber recibido a mi entera satisfaccion en moneda legal y corriente,sin lugar a reclamo alguno he vendido al  </b></div>
          
        </div>
        <div class="row">
          <div class="col"><b> Sr:</b> <u>Bernis Aarón Flores </u></div>
          <div class="col"><b>Ced. N°: </b><u>121-190496-0005F</u></div>
          <div class="col"><b>Del municipio: </b><u>Juigalpa</u></div>
         
          
        </div>
        <div class="row">
          <div class="col"><b>Barrio: </b><u>Virgen Maria</u></div>
          <div class="col"><b>Comarca:</b>  <a>_________</a ></div>
          <div class="col"><b>La cantidad de: </b> <u>1</u></div>
          <div class="col"><b>Semoviente(s) criollo(s):
          </b><u>1</u><b> y</b></div>
          
        </div>
        <div class="row">
          <div class="col"><b>Comprado(s):</b> <a>______</a><b> Respaldo con las cartas de ventas que se describen en este documento,teniendo matriculado mi fierro </b></div>
          
        </div>
        <div class="row">
          <div class="col"><b>que figura:</b> <u>(    )</u><b> En la alcaldia del municipio de:</b><a>_______</a></div>
         
          <div class="col"><b>Departamento:</b><a>__________</a> <b> Director de registro,</b></div>
          
        </div>

        <div class="row">
          <div class="col"><b>certifica que estan inscrito bajo el tomo N°</b><a>___________</a></div>
          <div class="col"><b>Acta N°:</b><a>_________</a></div>
         
          
        </div>

        <div class="row">
          <div class="col"><b>Folio:</b> <a>____________</a><b> y del libro de registro que</b></div>
          <div class="col"></div>
         
        </div>
        <div class="row">
          <div class="col">
            <div class="col"><b>Lleva esta alcaldia. El (los) animal (es), herrados y venteados con los siguientes fierros y N° de aretes y tatuajes que a continuacio</b></div>
          </div>
        </div>
        <div class="row">
          <div class="col"><b>detallo, comprometiendome al saneamiento y eviccion en los casos que la ley señala</b></div>
        
        </div>
        <div class="row">
          <div class="col"><b>Codigo  unico de finca de origen CUE: </b> <a>_________________</a></div>
          <div class="col"><b>Codigo unico de finca de destino: </b> <a> ____________</a></div>
         
        </div>
        <div class="row">
          <div class="col"></div>
          <div class="col"><b style="text-align: center;">Descripcion de fierros, aretes y numeros de los animales comprados</b></div>
         <div class="col"></div>
        </div>

        <table>
          <tr>
            <th>N°</th>
            <th> Fierro</th>
            <th>Marca</th>
            <th>N° de arete</th>
            <th>Categoria/Especie</th>
            <th>Criollo</th>
            <th>Fecha de venta</th>
            <th>Observacion</th>
          </tr>
          <tr>
            <td>1</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>2</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>3</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>4</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>5</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
 
         
        </table>

        <div class="row">
          <div class="col"></div>
          <div class="col"><b style="text-align: center;">Descripcion de dueños anteriores y numeros de cartas de ventas de animales comprados</b></div>
         <div class="col"></div>
        </div>

        <table>
          <tr>
            <th>N°</th>
            <th> Nombres y apellidos</th>
            <th>N° de C/V antecedentes</th>
            <th>Fecha de elaboracion</th>
            <th>Lugar</th>
            <th>Observaciones</th>

          </tr>
          <tr>
            <td>1</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            
          </tr>
          <tr>
            <td>2</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            
          </tr>
          <tr>
            <td>3</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            
          </tr>
          <tr>
            <td>4</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            
          </tr>
          <tr>
            <td>5</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            
          </tr>
         
         
        </table>
         <br>
      
        <div class="row">
          <div class="col"><a>_________________</a></div>
          
          <div class="col"><a >_________________</a></div>
         <div class="col"><a >_____________________</a></div>
        </div>
        <div class="row">
          <div class="col"><b> firma del vendedor</b></div>
          
          <div class="col"><b >firma del Comprador</b></div>
         <div class="col"><b >firma del registro de fierro</b></div>
        </div>
        <div class="row">
          <div class="col"><b>N° de Ced:</b><a>_______________</a></div>
          
          <div class="col"><b>N° de Ced:</b><a >_______________</a></div>
         <div class="col"><b >N° de Ced:</b><a>_______________</a></div>
        </div>
        <div class="row">
          <div class="col"><b>Apoderado: </b><b>si</b><a >___</a><b>No</b><a>___</a>___</div>
          
          <div class="col"><b>Apoderado: </b><b>si</b><a >___</a><b>No</b><a>___</a>___</div>
         <div class="col"></div>
        </div>
        <p>El suscrito director de registro de fierro municipal da fe que la firma que anteceden y que fue puesta Por
          los señores <a>__________________</a> y <a>___________________</a> son autenticas
          dado a los <a>____________</a> dias del mes <a>___________</a> del año <a>_______</a>
        </p>

      

    

  <br>
  <button
    class="btn waves-effect  waves-light"
    style="align-content:flex-start;
            background-color: green;"
    type="submit"
    name="action"
    (click)="dowloandpdf()"
  >
    Generar carta pre_venta
  </button>
</div>
