
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>


<div class="row">
  <div class="col s6 m7">
    <div class="card">
      <div class="card-image">
        <img src="../../assets/img/razas/holstein.jpg">
       
      </div>
    </div>
  </div>
  <br>
  <br>
  <br>
  <br>
  <div class="col s6 m6">
    <div class="card indigo lighten-5">
      
        <span class="card-title">&emsp; &emsp;&emsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ganado lechero Holstein</span>
      
      
      
      <div class="card-content white-text">
       

       <div class="row">
        <form class="col s12">
          <div class="row">
            
            <app-employee></app-employee>

          </div>
          <span class="black-text">       ingresar una cantidad mayor al valor actual</span>
        </form>
      </div>
      
      </div>
      

    </div>
  </div>
</div>
<div class="card-image">
  <img src="../../assets/img/tarjetas.jpg">
 
</div>
<section id="services" class="white-wrapper">
  <div class="container">
      <div class="title text-center">
          <h2>Características del ejemplar</h2>
          
          <hr>
      </div><!-- end title -->
  
      <div class="row">
          <div data-scroll-reveal="enter from the bottom after 0.3s" class="col-lg-4 col-md-4 col-sm-8 col-xs-12">
              <div class="service-box">
                  <div class="service-border"><i class="fa fa-lightbulb-o alignleft"></i></div>
                  <h3>Propietario</h3>
                  <blockquote>Steven Tellez</blockquote>
              </div>
          </div>
      
          <div data-scroll-reveal="enter from the bottom after 0.6s" class="col-lg-4 col-md-4 col-sm-8 col-xs-12">
              <div class="service-box">
                  <div class="service-border"><i class="fa fa-laptop alignleft"></i></div>
                  <h3>Raza</h3>
                  <blockquote>Holstein</blockquote>
                  
              </div>
          </div>
      
          <div data-scroll-reveal="enter from the bottom after 0.9s" class="col-lg-4 col-md-4 col-sm-8 col-xs-12">
              <div class="service-box">
                  <div class="service-border"><i class="fa fa-headphones alignleft"></i></div>
                  <h3>Peso</h3>
                  <blockquote>580 KG</blockquote>
              </div>
          </div>
      </div> <!-- end row 1 -->
      <hr>
      <div class="row">
        <div data-scroll-reveal="enter from the bottom after 1.2s" class="col-lg-4 col-md-4 col-sm-8 col-xs-12">
          <div class="service-box">
              <div class="service-border"><i class="fa fa-mobile alignleft"></i></div>
              <h3>Finca</h3>
              <blockquote>Los Angeles</blockquote>
          </div>
      </div>
  
      <div data-scroll-reveal="enter from the bottom after 1.5s" class="col-lg-4 col-md-4 col-sm-8 col-xs-12">
          <div class="service-box">
              <div class="service-border"><i class="fa fa-shopping-cart alignleft"></i></div>
              <h3>Arete</h3>
              <blockquote>12345</blockquote>
          </div>
      </div>
  
      <div data-scroll-reveal="enter from the bottom after 1.8s" class="col-lg-4 col-md-4 col-sm-8 col-xs-12">
          <div class="service-box">
              <div class="service-border"><i class="fa fa-gears alignleft"></i></div>
              <h3>Departamento</h3>
              <blockquote>Chontales</blockquote>
          </div>
      </div>
      
      </div>
      <hr>
  
      <div class="row">
         

          <div data-scroll-reveal="enter from the bottom after 1.8s" class="col-lg-4 col-md-4 col-sm-8 col-xs-12">
            <div class="service-box">
                <div class="service-border"><i class="fa fa-gears alignleft"></i></div>
                <h3>Ciudad</h3>
                <blockquote>Juigalpa</blockquote>
            </div>
        </div>

        <div data-scroll-reveal="enter from the bottom after 1.8s" class="col-lg-4 col-md-4 col-sm-8 col-xs-12">
          <div class="service-box">
              <div class="service-border"><i class="fa fa-gears alignleft"></i></div>
              <h3>Comara</h3>
              <blockquote>---</blockquote>
          </div>
      </div>

      <div data-scroll-reveal="enter from the bottom after 1.8s" class="col-lg-4 col-md-4 col-sm-8 col-xs-12">
        <div class="service-box">
            <div class="service-border"><i class="fa fa-gears alignleft"></i></div>
            <h3>Color</h3>
            <blockquote>Blanco con negro</blockquote>
        </div>
     </div>
     

     
  </div>
  <hr>
  <div class="row">
    <div data-scroll-reveal="enter from the bottom after 1.8s" class="col-lg-4 col-md-4 col-sm-8 col-xs-12">
      <div class="service-box">
          <div class="service-border"><i class="fa fa-gears alignleft"></i></div>
          <h3>Antecentes</h3>
          <blockquote>Ganado criollo</blockquote>
      </div>
  </div>
    </div>
  </div>
    </section>
<app-carousel></app-carousel>