
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>


<div class="row">
  <div class="col s6 m7">
    <div class="card">
      <div class="card-image">
        <img src="https://firebasestorage.googleapis.com/v0/b/suganic-2cf32.appspot.com/o/mayor%20a%2030%20meses%2Fholstein_1579102825385?alt=media&token=d5d04edd-e97f-4ae4-9cf9-11c32825c5d7">
       
      </div>
    </div>
  </div>
  <br>
  <br>
  <br>
  <br>
  <div class="col s6 m6">
    <div class="card indigo lighten-5">
      
        <span class="card-title">titulo</span>
       <span class="card-time"> tiempo restante:</span>
       <span class=" card-oferta">Oferta de subasta actual:</span>
      
      
      <div class="card-content white-text">
       

       <div class="row">
        <form class="col s12">
          <div class="row">
            <div class="input-field col s6">
              <i class="material-icons prefix " style="color: black;">attach_money</i>
              <input id="icon_prefix" type="text" class="validate">
              
            </div>
            <div class="input-field col s6">
              <button class="btn waves-effect waves-light indigo darken-4" type="submit" name="action">Ofertar
                
              </button>
             
            </div>
            
          </div>
          <span class="black-text">       ingresar una cantidad mayor al valor actual</span>
        </form>
      </div>
      
      </div>
      
      <div class="card-action">
        <a class="blue-text">oferta mayor: ()</a>
        <a href="#" class="blue-text">Historial de ofertas</a>
      </div>
    </div>
  </div>
</div>
<div class="card grey lighten-4">
  <div class="card-tabs">
    <ul class="tabs tabs-fixed-width">
      <li class="tab"><a href="#test4">Descripcion</a></li>
     
    </ul>
  </div>
  <div>
    <div class="row">
      <div class="col s12 m6 l3">
        <div>Propietario:</div>
        <div>Municipio:</div>
        <div>Finca:</div>
        <div>Raza:</div>
        <div>Peso:</div>

      </div>
      <div class="col s12 m6 l3"> 
      <div>Berni</div>
      <div>juigalpa</div>
      <div>Los Angeles</div>
      <div>Holstein</div>
      <div>400 KG</div>
    </div>
      <div class="col s12 m6 l3"> 
      <div>Departamento:</div>
      <div>Comarca:</div>
      <div>Chapa:</div>
      <div>color:</div>
      <div>Antecedentes:</div>
    </div>
      <div class="col s12 m6 l3">
        <div>Chontales</div>
        <div>---</div>
        <div>34567</div>
        <div>blanco y negro</div>
        <div>ganado lechero criollo , con unico Dueño</div>
      </div>
    </div>

  
  
  
    
  
  
</div>


  

  
 
 
</div>
<app-carousel></app-carousel>